/* *{
    margin: 0;
    padding: 0;
} */

/* list down inline and block level elements 
go through css properties */


/* inline > internal > external */

header{
    text-align: center;
    font-size: 25px;
    background-color: black;
    color: white;
    
}

#bs{
    height: 100px;
    width: 200px;
    background-color: blue;
    margin: 20px;
}


#india-today{
    color: red;
    width: 100px;
    display: inline-block;
}

li{
    display: inline;
   margin: 8px;
    color: white;
}

nav{
   
    background-color: blue;
    background-color: red;
}

ul{
    padding: 12px;
}